@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Inter */
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Regular.woff") format("woff"),
      url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Medium.woff") format("woff"),
      url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-SemiBold.woff") format("woff"),
      url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Bold.woff") format("woff"),
      url("../fonts/Inter/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e4e8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c5c8;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App {
  height: 100%;
}

/*  */
.cart_menu-buttons {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}
.cart_menu-item:hover .cart_menu-buttons {
  opacity: 1;
  transform: translateY(0);
}

.setting {
  opacity: 0;
  transition: all 0.1s linear;
}
.page:hover .setting {
  opacity: 1;
}
