.input {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 4px;
    border: 1px solid var(--tg-theme-button-color);
    
    background: rgb(10, 145, 255);
    color: #FFF;
}

.note {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 4px;
    
    background: rgb(77, 169, 245);
    color: #FFF;
}

.note span {
    border: 1px solid #FDFDFD;
}

.note span:hover svg {
    display: block;
}

.node-btn:hover {
    background: var(--tg-theme-bg-color);
}

.rotate {
    transform: rotate(-90deg);
    transition: transform .1s ease;
}