.input {
    color: var(--tg-theme-text-color);
    border-radius: 4px;
    border: 1px solid var(--tg-theme-button-color);
}

.note {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 4px;
}

.note span {
    border: 1px solid #FDFDFD;
}