.input {
    color: var(--tg-theme-text-color);
    border-radius: 4px;
    border: 1px solid var(--tg-theme-button-color);
    border: 1px solid rgb(17, 68, 34);
}

.note {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 4px;
    background: rgb(125, 127, 245);
}

.note span {
    border: 1px solid #FDFDFD;
}